html, body {
	height: 100%;
	margin: 0px;
	overflow-x: hidden;
}

body {
	padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #f1f1f1;
}
.wrapper {
	padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;	
	min-height: 600px;
}
.container {
	background: #fff;
	padding: 15px;
	min-height: 600px;
}
.menu {
	padding-right: 1em;
    width: 99%;
    height: 35px;
    padding: 5px 10px;
    background: #eee;	
}

.tab-ul {
	font-weight: bold;
    list-style-type: none;
    margin: 0;
    padding: 0;
    line-height: 40px;    
    
}
ul.tab-ul > li.active {
	border-bottom: 0pt solid #F5F5F5;
    border-right: 0;
    border-bottom-color: #fff;
    background: #fff;
}

ul.tab-ul > li:first-child {
	border-left: 0;
}

ul.tab-ul li {
	float: left;
    margin: 0;
    vertical-align: middle;
    padding: 0px 10px;
}

.form-control {
	display: block;
    width: 100%;
    height: 30px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
#tagname {
	width: 300px;
}
.btn {
	display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
table{
  width: 100%;
  margin: 0 auto;
  border-collapse: collapse;
}

tr:nth-of-type(odd){
  background: #eee;
}

th{
  background: #111;
  color: #fff;
}
td, th {
  border: 1px solid #ccc;
  text-align: center;
  padding: 10px 15px;
}